@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #333333;
  --background: #F0F0F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .card-bg{
    background: rgb(117,189,255);
background: radial-gradient(circle, rgba(117,189,255,1) 0%, rgba(219,231,255,1) 100%);

  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background);
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
